<form>
  <h2>CONTACT COMPONENT</h2>
  <div class="star">
    <div class="line"></div>
    <i class="fa fa-star"></i>
    <div class="line"></div>
  </div>

  <div class="inputs">
    <input type="text" placeholder="UserName" class="border-0" />
    <input type="number" placeholder="Age" class="border-0" />
    <input type="email" placeholder="Email" class="border-0" />
    <input type="password" placeholder="password" class="border-0" />

    <button class="bg-success text-white border-0 rounded p-2">
      Send Message
    </button>
  </div>
</form>
